.idea
/.idea/
*.aux
*.bbl
*.fls
*.log
*.out
*.toc
*.fdb_latexmk
*.pygtex
*.pygstyle
*.gz
*.gz
report/nir.synctex.gz
*.vcxproj
*.sln
*.recipe
*.ilk
*.obj
*.pdb
*.tlog
*.user
*.filters
*.ipch
*.db
code/Graphs_C++/.vs/Graphs_C++/v16/.suo
code/Graphs_C++/x64/Debug/Graphs_C++.vcxproj.FileListAbsolute.txt
*.idb
*.gz
*.gz
